:root{
    --primary: #0388A6;
    --secondary: #001A24;
    --third: #D9D9D9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary);
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  display: inline-block;
}

.link-hover::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: width .3s;
}

.link-hover:hover::after {
  width: 100%;
  transition: width .3s;
}

.icons {
  width: 7rem;
  display: flex;
  justify-content: space-around;
}

.navbar {
  background-color: var(--secondary);
}

.navbar .navbar-brand {
  font-size: 30px;
  color: var(--primary);
}

.navbar-toggler {
    color: var(--primary);
}

.navbar .nav-item {
  padding: 10px 20px;
}

.navbar .nav-link {
  font-size: 18px;
  color: var(--third);
}

.p_nome {
  font-size: 60px;
  font-weight: 600;
  padding-top: 100px;
  color: var(--primary);
}


.p_cargo {
  font-size: 30px;
  color: var(--third);
}

.p_frase {
  font-size: 20px;
  font-style: italic;
  color: var(--third);
}

.kevinpng {
  padding-top: 100px;
}

.p_sobre {
  color: var(--primary);
  font-size: 30px;
  padding-top: 200px;
  padding-bottom: 50px;
}

.p_sobre_frase {
  color: #fff;
  font-size: 17px;
  padding-bottom: 3rem;
}

.text_icons{
  color: var(--third);
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-left: 10px;
}

.programacaojpg {
  height: 22rem;
  width: 100%;

}

.projects {
  padding-top: 150px;
  padding-bottom: 200px;
}

.p_projeto {
  color: var(--primary);
  font-size: 30px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .p_nome {
    padding-top: 200px;
  }
  .kevinpng {
    padding-top: 200px;
  }
  
}

.contact {
  padding-bottom: 300px;
}

.p_contato {
  color: var(--primary);
  font-size: 30px;
  padding-bottom: 50px;
}